<h2 class="text-center">Yeni Yazarlar</h2>


<div class="container">
  <div class="row">
      <% authors.forEach(author => { %>
        <div class="col-4">
        <div class="card text-center bg-danger  text-white my-2" style="width: 18rem;">
     <div class="deneme">
      <div class="text-end container author-index-hide">
        <a class="btn btn-sm  text-white" href="/authors/<%= author.id %>/edit ">  <i class="fas fa-user-edit"></i></a>
        <%- include('../partials/deleteForm',
        { url: `/authors/${author.id}` }) %>
       </div>
     </div>
      
          <a href="/authors/<%=author.id  %> ">
            <img src=" <%= author.coverImagePath %> " class="mt-2 card-img-top rounded-circle show-index-author-img img-fluid shadow-lg  mx-auto d-block  " alt="...">
          </a>
           
            <div class="card-body">
              <h5 class="card-title "><%= author.firstname.charAt(0).toUpperCase()+author.firstname.slice(1) +' '+ author.lastname.charAt(0).toUpperCase()+author.lastname.slice(1) %> </h5>
             <h6 class="card-title"><%= author.city %> </h6>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>

