
<h1><%= recipe.title %></h1>
<p><%= recipe.category %></p>
<p><%- recipe.ingredients %></p>
<p><%= `${recipe.instructions.substring(0,500)}...` %></p>
<a href="  /recipe/<%=recipe.id %> ">Devamını oku...</a>


